@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="IE=7.0000" http-equiv="X-UA-Compatible">
    <meta name="GENERATOR" content="MSHTML 11.00.9600.17496">
    <title>陕师大综合信息系统</title>
    <link href="../../Content/reset2.css" rel="stylesheet" />
    <link href="../../Content/login.css" rel="stylesheet" />
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/supersized.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/supersized.3.2.7.min.js"></script>
    <script src="~/Scripts/supersized-init.js"></script>
    <script src="~/Scripts/scripts.js"></script>
</head>

<body>
    <div id="loading" style="display: none;"></div>
    <div id="logoLogin">
        <a href="#">
            <img alt="陕师大" src="../../Images/logo.png" />
        </a>
    </div>
    <div id="Login">
        <h1>教育行政网络办公系统</h1>
        <form class="form" method="post">
            <div>&nbsp; </div>
            <div>&nbsp; </div>
            <a href="@Url.Action("Login","Student/Account")">
                <img alt="图片描述" src="../../images/btn_login1.png">
            </a>

            <div>&nbsp; </div><div>&nbsp; </div>
            <a href="@Url.Action("Login","Teacher/Account")">
                <img alt="图片描述" src="../../images/btn_login2.png">
            </a>
        </form>
    </div>
    <div id="copyright">
        <strong></strong><p>&copy; @DateTime.Now.Year - 张丹玉 41212205 版权所有</p>
        <p></p>
    </div>
</body>
</html>