@{
    ViewBag.Title = "个人中心";
    Layout = "~/Areas/Teacher/Views/Shared/_Layout.cshtml";
}

<h2 class="mbx">
    个人中心&nbsp;&nbsp;&nbsp;&nbsp;
</h2>
<div class="dhbg">
    <div class="dh1" style="margin: 0 27px 15px 0;">
        <div class="dhwz">
            <p>
                您共有 <span class="red">0</span>条通知信息 <span class="red">0 </span>条未读
            </p>
            <p>
                共有 <span class="red">0 </span>条短信息、 <span class="red">0</span>个投诉、 <span class="red">
                    0
                </span>个异议
            </p>
            <p>
                有 <span class="red">0</span>个投诉、<span class="red">
                    0
                </span>个异议、<span class="red">0</span>条短信息未处理
            </p>
            <div class="btright">
                <a href=@Url.Action("LetterMsg","Messege")>
                    <img src="~/Images/Teacher/default/bt_bzr.jpg" alt="给学院发消息" width="121" height="25" />
                </a>
            </div>
        </div>
    </div>
    <div class="dh2">
        <div class="dhwz">
            <p>
                你有 <span class="red">0</span> 门课程 <a href=@Url.Action("StudentGrade","EducationCenter") class="red">查看教学计划</a>
            </p>
            <p>
                本学期 <span class="red">0 </span>门课程&nbsp;共有 <span class="red">2</span> 门 <a href=@Url.Action("StudentGrade","EducationCenter") class="red">查看成绩</a>
            </p>
            <p>
                已经发放了 <span class="red">0 </span>本书籍 <a href=@Url.Action("StudentGrade","EducationCenter") class="red">查看书籍情况</a>
            </p>
            <div class="btright">
                <a href=@Url.Action("StudentGrade","EducationCenter")>
                    <img src="~/Images/Teacher/default/bt_jw.jpg" alt="进入教务中心" width="121" height="25" />
                </a>
            </div>
        </div>
    </div>
    <div class="dh3" style="margin: 0 27px 15px 0;">
        <div class="dhwz">
            <p>
                <a href="#">模拟考试</a>
            </p>
            <p>
                <a href="#">章节练习</a>
            </p>
            <p>
                <a href="#">网上作业</a>
            </p>
            <div class="btright">
                <a href=@Url.Action("Download","Material")>
                    <img src="~/Images/Teacher/default/bt_ks.jpg" alt="进入资料下载中心" width="121" height="25" />
                </a>
            </div>
        </div>
    </div>
    <div class="dh4">
        <div class="dhwz">
            <p>
                你总共有<span class="red">3</span> 条财务记录需要确定
            </p>
            <p>
                本月工资发放情况
            </p>
            <p>
                工资调整信息
            </p>
            <div class="btright">
                <a href=@Url.Action("MyFinancial","FinancialCenter")>
                    <img src="~/Images/Teacher/default/bt_cw.jpg" alt="进入财务中心" width="121" height="25" />
                </a>
            </div>
        </div>
    </div>
</div>